*{
    padding: 0;
    margin: 0;
    position: relative;
}

.header-container{
    width: 100%;
    height: 700px;
    background: url(../img/hero.jpg);
    background-size: cover;
}

.header-content{
    padding: 20px;
}

.header-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
}

.header-menu{
    display: flex;
    justify-content:space-around;
    height: 100px;
}

.header-logo,.header-logo>img{
    height: 80px;
}

.header-items{
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}

.header-items>li{
    list-style-type: none;
}

.header-items>li>a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
}

.header-items>li:hover>a{
    color: yellow;
}

.welcome-title{
    font-size: 50px;
    color: white;
    padding-top: 80px;
    padding-left: 170px ;
}

.welcome-button{
    padding-left: 170px;
    padding-top: 10px;
}

.header-button{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 10px;
    background-color:unset;
    color: orange;
    border-color: orange;
}

.header-button:hover{
    background-color: orange;
    color: white;
}

.infor-container{
    color: gray;
}

.main-slogan{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.verticalline{
    display: flex;
    justify-content: center;
    width: 50px;
    background-color: orange;
}

.welcome-slogan{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.main-ads{
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    font-size: 20px;
}

.ads-items{
    padding: 0 10px;
}

.fa-infinity{
    font-size: 70px;
    color: orange;
    padding-bottom: 25px;
}

.fa-history{
    font-size: 70px;
    color: orange;
    padding-bottom: 25px;
}

.fa-carrot{
    font-size: 70px;
    color: orange;
    padding-bottom: 25px;
}

.fa-shopping-cart{
    font-size: 70px;
    color: orange;
    padding-bottom: 25px;
}

.food-ads__how-it-works{
    margin: 100px 0;
    background-color: #e6e6e6;
}

.food-ads-top{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.food-ads-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    width: 25%;
}

.main-food-ads img{
    width: 100%;
}

.how-it-works-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 50px;
}

.phone-img img{
    display: block;
    max-width:300px;
    max-height:500px;
    width: auto;
    height: auto;
    padding-left: 450px;
}

.phone-img-and-items{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
}

.step-items{
    font-size: 25px;
    padding-bottom: 60px;
    padding-top: 28px;
    padding-left: 45px;
}

.down-apps{
    display: flex;
    height: 100%;
}

.evaluate-about-us{
    color: gray;
}

.our-appearance{
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-bottom: 80px;
}

.cities img{
    display: block;
    max-width:250px;
    max-height:500px;
    width: 100%;

}

.four-cities{
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
}

.ommnifood_email{
    text-decoration: underline;
}

.cities>i{
    color: orange;
}
    
.three-investors img{
    border-radius: 50%;
    width: 3%;
}

.three-investors{
    display: flex;
    justify-content: space-around;
    padding-top: 350px;
    padding-right: 200px;
    padding-bottom: 50px;
}
    /* START SIGN UP */
.sign-up-container{
    color: grey;
    background-color: #e6e6e6;
    padding-bottom: 30px;
    padding-top: 40px;
}

.sign-up-head{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;

}

.sign-up-box{
    display: flex;
    justify-content: space-around;
}

.three-sign-up-box{
    background-color: white;
    padding: 15px;
}

.prize{
    color: orange;
    font-size: 30px;
    padding:10px ;
    margin-right: 60px;
}

.endow i{
    color: orange;
}

.box-sign-up-button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.sign-up-button{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 10px;
    background-color:unset;
    color: orange;
    border-color: orange;
}

.sign-up-button:hover{
    background-color: orange;
    color: white;
}
    /* END SIGN UP */


    /* START ADVICE */
.advice-container{
 
}

.advice-title{
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
}

.advice-box{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
    /* END ADVICE */


    /* START FOOTER */
.footer{
    background-color: #212121;
    color: gray;
}
.about-us__footer-items{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    padding-top: 40px;
}

.last-text{
    text-align: center;
    padding: 30px 200px;
}
    /* END FOOTER */